venv/
env_py3.9/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.tsv
*.xlsx
*.xls
*.parquet
*.feather
*.h5
*.hdf5
*.ipynb
celerybeat-schedule.*
frontend/
*.bat
*.sh
*.md
test_*
docker-compose.yml 
northeastern_urls.txt
