env_py3.9
chroma
chroma_backups
chroma_data_backup_manual
chroma_data_backup_before_restore_1754159866
chroma_data_backup_before_rebuild_1754159415
chroma_data_backup_before_efficient_restore_1754159955
chroma_data_backup_20250802_141731
chroma_data_23532
enhanced_embeddings_cache.pkl
